<div class="content container">
  <div class="col-md-10 col-md-offset-1 width-flash">
  </div>
  <div class="row" id="question">
    <div class="col-md-10 col-md-offset-1">
      <span>
        <h2><%= link_to t(".new_q"), new_question_path,
          class: "pull-right link-text-question" %></h2>
        <h1><%= t ".title" %></h1>
      </span>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><%= t ".stt" %></th>
            <th><%= t ".question" %></th>
            <th><%= t ".subject" %></th>
            <th><%= t ".question_type" %></th>
            <th><%= t ".state" %></th>
            <th><%= t ".action" %></th>
          </tr>
        </thead>
        <% @questions.each_with_index do |question, index| %>
          <tbody>
            <tr>
              <td><%= index %></td>
              <div class="truncate"><td><%= question.content %></td></div>
              <td><%= question.subject.name %></td>
              <td><%= question.question_type %></td>
              <td class="btn btn-warning disabled"><%= question.state %></td>
              <td>
                <%= link_to "", "#",
                  class: "glyphicon glyphicon-edit icon-padding link-underline" %>
                <%= link_to "", question_path(question), method: :delete,
                  data: {confirm: t(".confirm")},
                    class: "glyphicon glyphicon-trash icon-padding link-underline" %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
      <%= paginate @questions %>
    </div>
  </div>
</div>
