<% provide :title, t("views.user.alluser") %>
<div class="col-md-10">
  <h1><%= t "views.user.alluser" %></h1>
  <%= search_form_for @search, class: "form-inline" do |f| %>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.search_field :username_cont, class: "form-control" %><br/>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.search_field :email_cont, class: "form-control" %><br/>
    </div>
    <%= f.submit t("views.user.search"), class: "btn btn-sm btn-primary" %>
  <% end %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t "views.user.username" %></th>
        <th><%= t "views.user.email" %></th>
        <th><%= t "views.user.action" %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class= "success">
          <td><%= link_to user.username, user_path(user) %></td>
          <td><%= link_to user.email %></td>
          <% if can? :delete, user %>
            <td><%= link_to "", admin_user_path(user), method: :delete,
              data: {confirm: t("views.user.delete")}, class: "glyphicon glyphicon-trash text-danger" %>
            </td>
          <% else %>
           <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @users %>
</div>
