<header class="navbar navbar-fixed-top ">
  <div class="container">
    <%= link_to t("header.content_header"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if can? :manage, :all %>
          <li><%= link_to t("admin.subject.subject"), admin_subjects_path %></li>
          <li><%= link_to t("header.home"), admin_root_path %></li>
        <% else %>
          <li><%= link_to t("header.home"), new_exam_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to t("header.signout"), destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t("header.login"), new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
