<header class="navbar navbar-fixed-top ">
  <div class="container">
    <%= link_to t("header.content_header"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if can? :manage, :all %>
          <li><%= link_to t("admin.subject.subject"), admin_subjects_path %></li>
          <li><%= link_to t("header.home"), admin_root_path %></li>
          <li><%= link_to t("admin.exams.exam"), admin_exams_path %></li>
        <% else %>
          <li><%= link_to t("header.home"), new_exam_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to t(".suggest_question"), questions_path %></li>
          <li><%= link_to t("views.user.users"), users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.username %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("header.profile"), current_user %></li>
              <li><%= link_to t("header.edit"), edit_user_registration_path %></li>
              <li class="divider"></li>
              <li>
                <li><%= link_to t("header.signout"), destroy_user_session_path, method: :delete %></li>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("header.login"), new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
